.new-navbar-inverse {
    background-color: #3D3D3D;
    border-color: #3D3D3D;
}

.new-text-white {
    color: #FFFFFF;
}

.new-fw-bolder {
    font-weight: bolder;
}

/* For navigation bar active */
.new-navigation li {
    margin-left: 5px;
    margin-right: 5px;
}

.new-navigation .active a {
    background-color: #000000;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 8px;
}

.new-decor-circle {
    position: absolute;
    height: 280px;
    width: 280px;
    left: -105px;
    top: -100px;
    background-color: #EEDDB8;
    border-radius: 50%;
}

.new-logo-horison {
    height: 162px;
}

/* CUstome height and with logo */
@media (max-width: 768px) {
    .new-logo-horison {
        height: 102px;
    }
}